body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.button {
  background-color: darkgray;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  transition:
    background-color ease-in-out 0.2s,
    color ease-in-out 0.2s;
}

.button[disabled] {
  cursor: not-allowed;
}

.button:not([disabled]):hover {
  cursor: pointer;
  color: white;
  background-color: dimgray;
}

.header {
  display: flex;
  align-items: center;
  font-family: Verdana, sans-serif;
  padding: 0.5rem 1rem;
  background-color: lightgray;
}

.header-link {
  color: black;
  text-decoration: none;
}

.header-title {
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-logo {
  height: 1.5rem;
  margin-right: 0.5rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, sans-serif;
}

.welcome-message {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold;
}

@keyframes overdueBlinkColor {
  0%,
  100% {
    color: black;
  }
  50% {
    color: red;
  }
}

.content.overdue,
.content.overdue input,
.content.overdue button {
  animation: overdueBlinkColor 1s infinite;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.duration-picker {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: "Monaco", monospace;
}

.duration-picker-unit {
  display: flex;
  align-items: center;
}

.duration-picker-unit input {
  margin-right: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  box-sizing: border-box;
  width: 2em;
  font-family: "Monaco", monospace;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: darkgray solid 0.1rem;
}

.duration-picker-unit input[disabled] {
  color: black;
  border-color: transparent;
}

.duration-picker-unit input::placeholder {
  font-family: "Monaco", monospace;
  color: darkgray;
}

.start-countdown-button {
  width: 100%;
  font-family: "Monaco", monospace;
  font-size: 1rem;
}
